body {
	background-color: #333;
	color: white;
}

table {
	border-spacing: 0px;
	margin-top: 10px;
}

table th,td {
	border-width: 1px;
	border-color: white;
	border-style: solid;
	padding: 3px;
	text-align: center;
}

table button {
	margin: 0px;
}

label {
	font-weight: bold;
	margin-right: 5px;
}

textarea {
	display: block;
	font-family: serif;
}

button, h2 {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
}

ul {
	padding-left: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.even {
	background-color: #444;
}

a {
	color: #2BF;
}

a:visited {
	color: fuchsia;
}

.searchContainer {
	display: flex;
	flex-wrap: wrap;
}

.searchContainer > div {
	width: 20%;
	margin-left: 10px;
	margin-top: 10px;
}

.largeButton {
	height: 35px;
	font-size: 20px;
	font-weight: bold;
}

.formContainer > div {
	margin-left: 5px;
	margin-top: 10px;
}

.formContainer div button {
	margin-top: 0px;
}

#extrasDiv input[type=text] {
	width: 100px;
}

#tags > span, #extras > span {
	border: 1px white solid;
	border-radius: 5px;
	padding: 3px;
	margin-right: 10px;
}